
body{
    margin: 0%;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table {
    width: 40%;
    margin: 0 auto;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
}

.content{
    width: 100%;
    margin: 0;
    text-align: center;
    align-items: center;
}